@model Tuple<int,List<Blog.Data.Models.Category>,Blog.Data.Models.Blog>
@{
    Layout = "_LayoutManage";

}
<div class="row">
    <div class="col-12">
        <input type="hidden" id="id"value="@Model.Item1"/>
        <select id="Category">
            <option disabled="disabled"> Bir seçim yap...</option>
            @{ 
                foreach (var category in Model.Item2)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            }
        </select>
        <input type="text" placeholder="Başlık" id="Title" value="@Model.Item3.Title" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <textarea placeholder="İçerik" id="Content">@Model.Item3.Content</textarea>
    </div>
<div class="row">
    <div class="col-12">
        <input type="button" values="Kaydet" onclick="Page.Manage.ManageBlog.Save();"/>
    </div>
</div>
</div>


