@using Microsoft.AspNetCore.Http
@model Blog.Data.Models.Blog
@{
    Layout = "_Layout";
}
<div class="main">
    <article>
        <header><h1>@Model.Title</h1></header>
        <div class="meta">@Model.CreateDate.ToString("M"),&nbsp;<span>ThemeBakers</span>@Model.User.Name  @Model.User.Surname&nbsp;<a href="#comments">@Model.Comments.Count yorum</a></div>
        <div class="entry">
            @Html.Raw(Model.Content)
        </div>
    </article>
    <div id="comments" class="comments">
        <h6>Bu yazı @Model.Comments.Count adet yorum yapılmıştır..</h6>
        <ol class="commentsList">
            @{ 
                foreach (var comment in Model.Comments.Where(a =>a.ParentCommentId==0))
                {
            <li class="comment">
                <div class="commentBody">
                    <div class="commentDetails">
                        <div class="commentMeta">
                            <div class="commentMetaTop clearfix">
                                <img src="~/theme/images/gravatar.png" />
                                <span class="name">@comment.Nickname</span>
                                <br />
                                <span class="date">@comment.CreateDate.ToString("M")</span>
                            </div>
                            <div class="commentContent">
                                <p>@comment.Content</p>
                            </div>
                            <div class="reply" onclick="Page.Blog.Detail.Comment.Reply(@comment.Id)"><a href="javascript:void(0);" class="comment-reply-link">Cevap</a></div>
                        </div>
                    </div>
                </div>
                @{
                    var childComments = Model.Comments.Where(a => a.ParentCommentId == comment.Id);
                    foreach (var childComment in childComments)
                    {
                        <ul class="children">
                            <li class="comment">
                                <div class="commentBody">
                                    <div class="commentDetails">
                                        <div class="commentMeta">
                                            <div class="commentMetaTop clearfix"><img src="/theme/images/gravatar.png" alt="" /><span class="name">@childComment.Nickname</span><br /><span class="date">@childComment.CreateDate.ToString("M")</span></div>
                                            <div class="commentContent">
                                                <p>@childComment.Content</p>
                                            </div>                                           
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    }
                }
            </li>
                }
            }  
        </ol>
        <div id="Comment-Respond">
            <br>
            <h6>Yorum yap..</h6>
            <form id="commentform" action="#" method="post">
                <input type="hidden" id="ParentCommentId" value="0"/>
                <input type="hidden" id="BlogId"value="@Model.Id" />
                <label for="Nickname">İsim (gerekli)</label>
                <input type="text" name="author" id="Nickname" value="">
                <label for="Email">E-Posta (gerekli)</label>
                <input type="text" name="email" id="Email" value="">
                <label for="Comment">Yorum (gerekli)</label>
                <textarea name="Comment" id="Comment"></textarea>
                <input type="button" name="comment-btn" id="comment-btn" value="Gonder" class="button" onclick="Page.Blog.Detail.Comment.Post();">
            </form>
        </div>
        <div id="Comment-Sending" style="display:none;">Yorum Gönderiliyor...</div>
        <div id="Comment-Sent" style="display:none;">Yorum Gönderildi</div>
    </div>
</div>
<div class="sidebar hidden">
    <div class="subscribe">
        <h6>Subscribe to my blog</h6>
        <a href="mailto:youremail@yourdomain.com"><img src="images/social_icons/email.png" alt="" /></a>
        <a href="#"><img src="images/social_icons/rss.png" alt="" /></a>
    </div>
    <div>
        <h6>Categories</h6>
        <ul>
            <li><a href="#">General</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Apps</a></li>
            <li><a href="#">WordPress</a></li>
            <li><a href="#">Webdesign</a></li>
            <li><a href="#">PHP</a></li>
        </ul>
    </div>
    <div class="widget widget_recent_entries">
        <h6 class="widget-title">Recent posts</h6>
        <ul>
            <li><a title="Say Hi to Biopic" href="#">Say Hi to Biopic</a></li>
            <li><a title="Featured Image Post" href="#">Featured Image Post</a></li>
            <li><a title="Vimeo Video Post" href="#">Vimeo Video Post</a></li>
            <li><a title="Youtube Video Post" href="#">Youtube Video Post</a></li>
            <li><a title="Simple Post" href="#">Simple Post</a></li>
        </ul>
    </div>
    <div class="widget recent-work-widget">
        <h6 class="widget-title">Recent Work</h6>
        <ul class="clearfix">
            <li>
                <div class="post-thumb"><a rel="prettyPhoto[biopic_recent_work_gal]" href="images/portfolio/envato.jpg"><img width="50" height="50" title="envato" alt="envato" src="images/portfolio/envato-50x50.jpg"></a></div>
            </li>
            <li>
                <div class="post-thumb"><a rel="prettyPhoto[biopic_recent_work_gal]" href="images/portfolio/Rainbow_Necklace.jpg"><img width="50" height="50" title="Rainbow_Necklace" alt="Rainbow_Necklace" src="images/portfolio/Rainbow_Necklace-50x50.jpg"></a></div>
            </li>
            <li>
                <div class="post-thumb"><a rel="prettyPhoto[biopic_recent_work_gal]" href="images/portfolio/Bulkhead.jpg"><img width="50" height="50" title="Bulkhead" alt="Bulkhead" src="images/portfolio/Bulkhead-50x50.jpg"></a></div>
            </li>
            <li>
                <div class="post-thumb"><a rel="prettyPhoto[biopic_recent_work_gal]" href="images/portfolio/In_My_Dreams.jpg"><img width="50" height="50" title="In_My_Dreams" alt="In_My_Dreams" src="images/portfolio/In_My_Dreams-50x50.jpg"></a></div>
            </li>
            <li>
                <div class="post-thumb"><a rel="prettyPhoto[biopic_recent_work_gal]" href="images/portfolio/Daim.jpg"><img width="50" height="50" title="Daim" alt="Daim" src="images/portfolio/Daim-50x50.jpg"></a></div>
            </li>
            <li>
                <div class="post-thumb"><a rel="prettyPhoto[biopic_recent_work_gal]" href="images/portfolio/Bumble_Bee.jpg"><img width="50" height="50" title="Bumble_Bee" alt="Bumble_Bee" src="images/portfolio/Bumble_Bee-50x50.jpg"></a></div>
            </li>
        </ul>
    </div>
</div><!-- /sidebar -->
